@{
    ViewData["Title"] = "Home Page";
}
<style>
    .container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>
<div class="text-center">
    <div class="container">
        <h1 class="display-4">Bienvenido a la web de Películas</h1>
        <img src="https://www.comunicare.es/wp-content/uploads/2021/07/cine-estudio-palomitas-espana-salas-reasonwhy.esjpg_.jpeg" />
    </div>
</div>
